# Saved files
*.ConeCyl
# Temp files
*.zip
tmp*.*
temp*.*
test*.*
*test*.png
*debug*.txt
#
*.py[cod]
mysetup.py
k*.txt
print*.txt

# C extensions
*.so
*.c

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
