# Output from cython -a
*.html
# Saved files
*.ConeCyl
# Output from Computer Algebra Systems
*.txt
# Imperfection data
c0*.txt
# Temp files
*.zip
tmp*
test*
temp*
tmp*.*
temp*.*
test*.*
*test*.png
*debug*.txt
#
*.py[cod]
mysetup.py
k*.txt
print*.txt

# C extensions
*.so
*.c

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.lib
*.obj
*.exp
*.pyd.manifest
*.lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Temp Word
~*.docx

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
