language: python
python:
  - "2.6"
  - "2.7"
 #- "3.2"
 #- "3.3"
 #- "3.4"
 #- "3.5"
 #- "3.5-dev" # 3.5 development branch
 #
 
env:

# command to install dependencies
install:
  - sudo apt-get install libblas-dev liblapack-dev libatlas-base-dev gfortran
  - pip install -r requirements.txt
  - python setup.py install

# command to run tests
script: nosetests
