clone_folder: C:\projects\compmech

clone_depth: 1
build: false

environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - "conda create -q -n testenv python=%PYTHON_VERSION% numpy scipy pytest cython libpython"
  - activate testenv
  # for Python 2.7
  - python -c "import os;print('\n'.join(map(str, os.environ.items())))"
  #- '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 /release'
  - python setup.py install -c mingw32

test_script:
  - py.test --cache-clear
